.cardStyle{
    width: 40%;
    margin: 0.5rem;
    border-color: var(--border-color) !important;
    /*position: relative;*/


}

.cardTitle{
    display: flex;
    align-items:center ;
}
.cardTitle div{
    display: flex;
    align-items: baseline;

}
.cardBodyStyle{
    padding: 0.5rem 0.4rem 0.5rem 0rem!important;
    border-radius: 20px;
    min-height: 50vh

}
.descriptionStyle{
    color: var(--faded-gray);
    text-align: center;
    font-family: "dubai light",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.cardHeaderStyle{
    font-family: 'dubai medium',sans-serif !important;
    border-color: var(--border-color) !important;
    background-color: transparent !important;
}
.fontStyle{
    font-size: 12px;
}
.delStyle{
    font-size: 16px;
    color: var(--del-color);
    text-align: right;
    font-family: "dubai light",sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-left: 3px;

}
.priceStyle{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: var(--faded-blue);
    padding-left: 4px;
}
.currencyStyle{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--faded-blue);
}
.cardTextStyle{
    text-align: right;
    font-family: 'dubai standard',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.buttonStyle{
    width:100%!important;
    /*margin-top: auto!important;*/
}
.CheckCircleFillStyle{
    margin-left:4px;
    font-size:16px !important;

}
.footerStyle{
    border: 0!important;
    background-color: transparent!important;
    padding: 1rem  0.45rem !important;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}
.cardTitlePrice{
    width: 100%;

}

.recommendedTag{
    background-color: #F97316;
    width:20%;
    padding: 0.3rem;
    /*padding-right: 0.6rem;*/
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    margin-right: auto;
    font-family: 'dubai medium', sans-serif;
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}


@media screen and (max-width: 1024px) {
    .cardTitlePriceContainer{
        width:70%;
    }
    .recommendedTag{

        width:30% !important;
    }
    .cardTitlePrice span {
        font-size: 18px;


    }
    .cardTitlePrice del , p {
        font-size: 14px;


    }

}

@media screen  and (max-width: 912px){
    .cardStyle{
        width: 80%;

    }
    .recommendedTag{
        font-size: 14px!important;
        width:30% !important;
    }
    .cardTitlePrice span {
        font-size: 18px;


    }
    .cardTitlePrice del , .cardTitlePrice p   {
        font-size: 14px;


    }
    .cardTitlePriceContainer{
        width:70%;


    }

}
@media screen and (max-width: 390px) {

    .recommendedTag{
        font-size: 12px!important;
        width:30% !important;
    }
    .cardTitlePrice span {
        font-size: 16px;


    }
    .cardTitlePrice del , .cardTitlePrice p   {
        font-size: 12px;


    }
}


@media screen and (max-width: 1025px) {
    .cardBodyStyle{
        min-height: 30vh;
    }

}
