.navStyle {
  background-color: #fff !important;
  padding: 0 !important;
  position: relative;
}
.responsiveLogo {
  width: 214px;
}
@media screen and (max-width: 575px) {
  .responsiveLogo {
    width: 114px; /* Size for small devices */

  }
  .logoPositionInMobile{
    display: flex !important;
    justify-content: center!important;
    padding: 0!important;
    margin-left: 2rem!important;

  }
}
@media screen and (min-width: 576px) and (max-width: 766px) {
  .responsiveLogo {
    width: 139px; /* Size for small devices */
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .responsiveLogo {
    width: 164px; /* Size for medium devices */
  }
}

@media screen and (min-width: 992px) and(max-width: 1199px) {
  .responsiveLogo {
    width: 189px; /* Size for large devices */
  }
}

@media screen and (min-width: 1200px) {
  .responsiveLogo {
    width: 214px; /* Size for extra large devices */
  }
}

.backButtonWrapper{
  position: absolute;
  left: 0;
  /*margin-left: 2rem!important;*/
  cursor: pointer !important;
  width: 2rem !important;
  height: 1rem;


  background-image: url('../../assets/images/backButton.svg');
  background-position: center;
  background-repeat: no-repeat;



}