.cardWrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: start ;

}

@media (max-width: 991px) {
  .cardWrapper {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center cards in the column layout */
  }

  .cardWrapper .card {
    width: 100%; /* Make cards full width */
    margin-bottom: 20px; /* Add space between cards */
  }
}

/* For screens smaller than 576px */

.selectionPlanParentStyle {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: center;
  /*background-color: #0c688a;*/
}
.selectionPlanParentStyle p:first-child {
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.selectionPlanParentStyle p:nth-child(2) {
  color: var(--faded-gray);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-family: "dubai light";
  margin: 0;
}


@media screen and (max-width: 1025px) {
  .cardWrapper {
    width: 90% !important;
  }
}

@media (max-width: 575px) {
  .cardWrapper {
    width: 100% !important;
  }
  .selectionPlanParentStyle p:first-child {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
  }
  .selectionPlanParentStyle p:nth-child(2) {
    color: var(--faded-gray);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    font-family: "dubai light";
    margin: 0;
  }
}
